:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

html {
  color-scheme: light;
}

body {
  font-family: "Inter", Courier, monospace;
  font-size: 15px;
}

body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button[class*="btn-"] {
  outline: transparent;
  border: none;
}

.header-home {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 64px;
}

.header-logo a {
  display: inline-block;
}

.header-logo svg {
  vertical-align: middle;
}

.btn-menu {
  background-color: transparent;
}

.header-menu-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.btn-close-menu {
  margin: 2rem 1rem;
  background-color: transparent;
}

.btn-close-menu svg {
  pointer-events: none;
}

.header-menu {
  margin: 0;
  list-style: none;
  width: 12rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}

.list-item a {
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
}

.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay.in-active,
.overlay,
.header-menu-container {
  pointer-events: none;
  opacity: 0;
}

.overlay.active,
.overlay.in-active,
.header-menu-container.active,
.header-menu-container.in-active {
  transition: opacity 0.21s ease-in-out;
}

.overlay.active, .header-menu-container.active {
  opacity: 1;
  pointer-events: all;
}

/* Main */
.main-page {
  margin-top: 2rem;
}

.main-image {
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.description-text {
    color: var(--dark-grayish-blue);
}

.btn-more {
    background-color: var(--soft-red);
    color: var(--off-white);
    padding: 1rem 2rem;
    margin-top: .5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .75rem;
    font-weight: bold;
}

.new-news {
    background-color: var(--very-dark-blue);
    padding: 1rem;
    margin-top: 4rem;
}

.title-new {
    display: inline-block;
    color: var(--soft-orange);
    margin: 1rem 0;
}

.new-article + .new-article {
    border-top: 1px solid var(--grayish-blue);
}

.title-article {
    color: white;
}

.description-article {
    color: var(--grayish-blue);
}

/* Other article */
.other-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem 0;
}

.other-article {
  display: flex;
  gap: 0 1.5rem;
}

.other-article img {
  width: 128px;
}

.number-other-article {
  font-size: 32px;
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.other-article-title {
  font-size: 18px;
  margin: .25rem 0;
  font-weight: 800;
}

.other-article-paragraph {
  color: var(--dark-grayish-blue);
}

@media screen and (min-width: 976px) {
  .container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .btn-menu {
    display: none;
  }

  .header-menu-container {
    position: static;
    width: auto;
    opacity: 1;
    pointer-events: all;
  }

  .btn-close-menu {
    display: none;
  }

  .header-menu {
    flex-direction: row;
    width: auto;
    align-items: center;
    gap: 2rem;
  }

  .list-item a {
    font-size: 1rem;
  }

  /* Main */
  .main-page {
    display: grid;
    grid-template-columns: auto 350px;
    grid-template-rows: min-content auto;
    gap: 2rem;
    /* align-items: flex-start; */
  }

  .info-news {
    display: flex;
  }

  .title {
    font-weight: 800;
  }

  .description-news {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }

  .new-news {
    margin-top: 0;
    display: inline-block;
    height: min-content;
  }

  .other-list {
    grid-column: 1 / span 2;
    flex-direction: row;
    justify-content: space-between;
  }
}
