:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

html {
    color-scheme: light;
}

body {
    font-family: 'Inter', Courier, monospace;
    font-size: 15px;
}

body, html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button[class*="btn-"] {
    outline: transparent;
    border: none;
}

.header-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 64px;
}

.btn-menu {
    background-color: transparent;
}

.header-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.btn-close-menu {
    margin: 2rem 1rem;
    background-color: transparent;
}

.header-menu {
    margin: 0;
    list-style: none;
    width: 12rem;
    padding-right: 0;
}

.list-item + .list-item {
    margin-top: 1.5rem;
}

.list-item a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
}

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
